<h1>Recipes List</h1>
<br>
<br>
<a href="/recipes/new">Add New Recipe</a>
<br>
<br>

I want this to show the information of the list of recipes for a logged in user
<% @recipes.each do |recipe| %>
    <p><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></p>
<% end %>