<h1>Create an Account, Chef</h1>
<form action="/signup" method="post">
    <br>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="user[email]" id="email">
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="user[password]" id="password">
    </div>
    <br>
    <input type="submit" value="Create Account">
</form>